extends layout

block content
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script.
    function format(p){
      return `<p id=${p._id}><small>
      <span><button id=${'edit/' + p._id}>Edit</button></span>
      <span><button id=${'delete/' + p._id}>Delete</button></span>
      ${p.date} |</small> ${p.para}</p>`
    }

    $(function(){

      $.get('http://localhost:3000/paras', function(data){
        data.forEach(p => {
          $("#paraList").append(format(p));
        });
      });

      $("#addPara").click(function(){
        $.post('http://localhost:3000/paras', $("#myParaForm").serialize())
        alert('Record inserted: ' + JSON.stringify($("#myParaForm").serialize() ))
        $("#paraText").val("");
      });

      $("#paraList").click(function() {
        let info = event.target.id.split('/')
        let type = info[0]
        let id = info[1]
        
        switch (type){
          
          case "delete":
            $.ajax({
              url: 'http://localhost:3000/paras/' + id,
              method: 'DELETE',
              success: function() {
                $("#" + id).remove()
              }
            })
          
          case "edit":
            break;

          default:
            break;
        }  
      })

    });

  .w3-container.w3-margin
    .w3-card-4
      header.w3-container.w3-teal
        h3 Adicionar Parágrafos

      form.w3-container.w3-margin(style="padding:10px", id="myParaForm")

        .w3-row.w3-margin-bottom
          .w3-col.s2
            b
              label.w3-text-teal Parágrafo:
          .w3-col.s9.w3-border
            input.w3-input(type="text", id="paraText", name="para")

        .w3-row.w3-margin-top
            input.w3-btn.w3-teal(type="submit", id="addPara", value="Add")

  .w3-container.w3-margin
    .w3-card-4
      header.w3-container.w3-teal
        h3 Parágrafos
      .w3-container(style="padding:10px 80px", id="paraList")
